<strong>Hi, {{ student }} </strong>
<p>Your pending order just got a new answer, check it out:</p>

<div style=" display: flex; ">
  <div>
    <p>Order:</p>
    <p>Your Question:</p>
    <p>Answer:</p>
    <p>Answer at:</p>
  </div>

  <div style="margin-left: 30px">
    <p><strong>{{ order }}</strong></p>
    <p><strong>{{ question }}</strong></p>
    <p><strong>{{ answer }}</strong></p>
    <p><strong>{{ answerDate }}</strong></p>
  </div>
</div>
